.title {
  font-family: "RussoOne";
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}

.subtitle {
  font-family: "RussoOne";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: $c-blue;
}

.text {
  font-family: "OpenSans";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $c-white;
}
