//elements
@import "./components/logo";
@import "./components/cta";
@import "./components/text";
@import "./components/buttons";

//sections
@import "./sections/header";
@import "./sections/cost";
@import "./sections/advantages";
@import "./sections/select";

// Adaptive
@import "./adaptive";
