.banner {
  padding-top: 50px;
  padding-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 66px;
    border-radius: 20px;
    background-color: $c-white;
  }

  &__title {
    margin-bottom: 10px;
    text-align: center;
    color: $c-blue;
  }

  &__button {
    width: 295px;
    height: 87px;
    margin: 0 auto;
    margin-bottom: 34px;
  }
}