.cost {
  padding-top: 34px;
  padding-bottom: 34px;
  background: rgba(33, 148, 255, 0.05);

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__title {
    text-align: center;
    color: $c-blue;
  }

  // Offer
  &__offer {
    max-width: 260px;
    margin-top: 76px;

    &-title {
      color: $c-white;
    }

    &-subtitle {
      margin-bottom: 21px;
    }

    &-text {
      max-width: 253px;
      margin-bottom: 28px;
    }

    &-button {
      padding-right: 33px;
      padding-left: 33px;
      border-radius: 20px;
    }
  }
  // End Offer

  // Ratio
  &__ratio {
    margin-top: 49px;
    &-title {
      margin-bottom: 13px;
      text-align: center;
      font-family: "RussoOne";
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $c-white;
      opacity: 0.7;
    }

    &-percents {
      position: relative;
      display: flex;
      justify-content: space-between;
      max-width: 207px;
      margin: 0 auto;
      margin-bottom: 15px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 51px;
        transform: translate(-50%, -50%);
        background-color: rgba(241, 241, 241, 0.3);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
    }

    &-percent {
      font-family: "RussoOne";
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;
      color: rgba(241, 241, 241, 0.7);
    }

    &-type {
      font-family: "RussoOne";
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: rgba(241, 241, 241, 0.7);
    }
  }


}
