.header {

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
  position: relative;

    display: flex;
  }

  &__image {
    position: absolute;
    right: -390px;
    bottom: -20px;
  }

  &__logo {
    padding-top: 18px;
    padding-left: 32px;
  }

  &__question {
    margin-top: 24px;
    margin-right: 32px;

    &-number {
      margin-bottom: 5px;
      font-family: "RussoOne";
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: $c-white;
    }
    &-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-decoration-line: underline;
      color: $c-blue;
    }
  }
  &__cta {
    margin-top: 33px;
    margin-left: 37px;
  }
}
