.select {
  padding-top: 34px;
  padding-bottom: 34px;
  background: rgba(33, 148, 255, 0.05);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 35px;
    text-align: center;
    color: $c-blue;
  }

  &__picture {
    height: 260px;
    & img {
      width: 596px;
      height: 260px;
      object-fit: contain;
    }
  }

  &__button {
    width: 164px;
    height: 64px;
    margin-bottom: 37px;
    border-radius: 20px;
    background-color: rgba(241, 241, 241, 0.2);
    &:not(:last-child) {
      margin-right: 15px;
    }
    &--active {
      background-color: $c-blue;
    }
    & p {
      pointer-events: none;
    }
  }

  &__submit {
    width: 295px;
    height: 87px;
  }
}
