<div class="@@class cta">
  <div class="cta__anytime">
    <div class="cta__item">
      <div class="cta__icons">
        <svg class="cta__icon">
          <use xlink:href="img/sprite/sprite.svg#dark"></use>
        </svg>
        <svg class="cta__arrow">
          <use xlink:href="img/sprite/sprite.svg#arrow"></use>
        </svg>
        <svg class="cta__icon">
          <use xlink:href="img/sprite/sprite.svg#light"></use>
        </svg>
      </div>
      <p class="cta__icons-text">
        В любое время дня и ночи
      </p>
    </div>
    <div class="cta__item">
      <div class="cta__icons">
        <svg class="cta__icon">
          <use xlink:href="img/sprite/sprite.svg#cloudy"></use>
        </svg>
        <svg class="cta__arrow">
          <use xlink:href="img/sprite/sprite.svg#arrow"></use>
        </svg>
        <svg class="cta__icon">
          <use xlink:href="img/sprite/sprite.svg#snow"></use>
        </svg>
      </div>
      <p class="cta__icons-text">
        Вне зависимости от погодных условий
      </p>
    </div>
  </div>
  <h1 class="cta__title">
    Доставим газ за 4 часа
  </h1>
  <p class="cta__text">
    в любую точку Москвы и Московской области
  </p>
  <button class="cta__button main-button">
    Заказать доставку газа в газгольдер
  </button>
  <p class="cta__comment">
    Доставка газа всегда по актуальным ценам
  </p>
</div>